@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1d3d66;
}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {}

@layer base {
  body {
    @apply dark:bg-gray-800 bg-white
  }
}

.slider__carousel .nextarr,
.slider__carousel .prevarr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  padding: 10px;
  background: #00000040;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  @apply text-white
}

.slider__carousel .prevarr {
  left: 10px;
}

.slider__carousel .nextarr {
  right: 10px;
}

.slick-track {
  display: flex;
}

.intro-dots {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.intro-slider-dot {
  width: 10px;
  height: 10px;
  background: #ffffff73;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.slick-active .intro-slider-dot {
  background: #ffffff;
}

#audioPlayer{
  transition: 0.3s;
}
